.container{
    display: flex;
    justify-content: space-evenly;
}

.filtros{
    margin: 1vh;
    display: flex;
    justify-content: center;
}

.buscador{
    border: gray 1px solid;
    padding: 0.5vh;
}

.titulo{
    padding: 10vh;
    font-size: 100px;
    text-align: center;
}