.titulo{
    padding: 10vh;
    font-size: 100px;
    text-align: center;
}

.buscar{
    padding: 1vh;
    font-size: 50px;
    text-align: center;
}

.empezar{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.boton{
    padding: 1vh;
    
}